<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Interlix est une blockchain, rapide et puissante, fait par des developer pour le monde. ">
    <meta name="keyword" content="interlix, Blockchain, cryptomonnaie, cryptocurency, monnaie, curency, NFT, masternode, sol, flux">
    <title>Accueil - Interlix</title>
    <script type="text/javascript" src="assets/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="assets/js/wow.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="assets/js/materialize.js"></script>
    <script type="text/javascript" src="assets/js/plugins.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/language.js"></script>
    <script src="https://kit.fontawesome.com/32867519ce.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,300,300italic,700' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="assets/css/materialize.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/mdb.min.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <link href="assets/css/roadmap.scss" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css" rel="stylesheet">
    <link rel="icon" href="assets/img/flavicon.png">
</head>

<body data-spy="scroll" data-target=".navbar-desktop">

    <div class='preloader'>
        <div class='loaded'>&nbsp;</div>
    </div>

    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <div class="container">
            <a href="#" data-activates="mobile-menu" class="button-collapse right"><i
                    class="fa fa-bars black-text"></i></a>

            <div class="navbar-desktop">
                <div classe="perspective-logo">      
                      <a class="navbar-brand" href="https://www.interlix.org/"><div class="navbar-logo"><img src="assets/img/logo.png" alt="" /></div></a>
                </div>

                <ul class="nav navbar-nav pull-right hidden-md-down text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.interlix.org/">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="network/">RÉSEAU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="validator/">VALIDATEURS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/xCTK5VqKDa">COMMUNAUTÉ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://docs.interlix.org">DOCUMENTATION</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-mobile">

                <ul class="side-nav" id="mobile-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.interlix.org/">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="network/">RÉSEAU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="valodator">VALIDATEURS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/xCTK5VqKDa">COMMUNAUTÉ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://docs.interlix.org">DOCUMENTATION</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="home" class="slider">
        <ul class="slides">
            <li>
                <img src="assets/img/bg2.png">
                <div class="caption center-align">
                    <div class="single_home">
                        <div class="flex flex-center height-100vh padding-md">
                            <h1 class="text-gradient">Interli</h1>
                            <div class="textmoving">
                                <h1 class="bigX">x</h1>
                            </div>
                        </div>
                        <h5 class="text-gradienth5">Fast and Powerful</h5>
                        <button type="button" class="btn btn-danger m-t-3 waves-effect waves-red">En savoir plus</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <section class="position-relative z-index-1 padding-y-xl">
      <div class="container max-width-adaptive-md">
        <div class="margin-bottom-xl">
          <h1 class="text-center">Qu'est-ce-que Interlix ?</h1>
            <div class="">
              <h5 class="text-center">interlix est une blockchain avec une capacité de 100,000.00 transaction a la seconde</h5>
            </div>
        </div>
      </div>
    </section>
        <section class="position-relative z-index-1 padding-y-xl">
            <div class="container max-width-adaptive-md">
              <div class="margin-bottom-xl">
                <h1 class="text-center">ROADMAP</h1>
              </div>
              <ol class="hiw-list">
                <li class="hiw-list__item">
                  <div class="hiw-list__item-inner">
                    <div class="hiw-list__counter" aria-hidden="true"></div>
                    <div class="flex-grow">
                      <div class="hiw-list__content grid gap-md items-center@md">
                        <div class="col-6@md">
                          <div class="text-component">
                            <h2 class="text-lg">PHASE 1 "Launching"</h2>
                            <p class="color-contrast-medium">Q2-2023 4 shards / Testnet and Mainet</p>
                            <p class="color-contrast-medium">Q3-2023 8 shards / interlix token on coinmarketcap and coingecko</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="hiw-list__item">
                  <div class="hiw-list__item-inner">
                    <div class="hiw-list__counter" aria-hidden="true"></div>
                    <div class="flex-grow">
                      <div class="hiw-list__content grid gap-md items-center@md">
                        <div class="col-6@md">
                          <div class="text-component">
                            <h2 class="text-lg">PHASE 2 "Developer update"</h2>
                            <p class="color-contrast-medium">Q4-2023 16 shards / Devnet</p>
                            <p class="color-contrast-medium">Q1-2024 32 shards /smart contract</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="hiw-list__item">
                  <div class="hiw-list__item-inner">
                    <div class="hiw-list__counter" aria-hidden="true"></div>
            
                    <div class="flex-grow">
                      <div class="hiw-list__content grid gap-md items-center@md">
                
                        <div class="col-6@md">
                          <div class="text-component">
                            <h2 class="text-lg">PHASE 3 "Increase update"</h2>
                            <p class="color-contrast-medium">Q2-2024 64 shards</p>
                            <p class="color-contrast-medium">Q3-2024 128 shards</p>
                            <p class="color-contrast-medium">Q4-2024 256 shards</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </section>
    <footer id="footer" class="footer footer-big">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="column">
                        <h4>Donation</h4>
                            <ul>
                                <li>
                                    <h6>
                                        <a href="https://www.interlix.org/donation">Faire un don</a>
                                    </h6>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                  <div class="column">
                      <h4>ACTUALITÉS</h4>
                          <ul>
                              <li>
                                  <h6>
                                      <a href="">Patch note 11/02/2022</a>
                                  </h6>
                              </li>
                          </ul>
                  </div>
              </div>
              <div class="col-md-4 col-6">
                <div class="column">
                    <h4>DÉVELOPPER</h4>
                        <ul>
                            <li>
                                <h6>
                                    <a href="http://docs.interlix.org">Documentation</a>
                                </h6>
                            </li>
                            <li>
                              <h6>
                                  <a href="https://status.interlix.org">Check status</a>
                              </h6>
                          </li>
                          <li>
                            <h6>
                                <a href="https://github.com/Interlix">Source Code</a>
                            </h6>
                        </li>
                        </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="main_coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="copyright_text m-t-2 text-xs-center">
                        <p class="wow zoomIn" data-wow-duration="3s">Copyright © 2022 Interlix Foundation. Tous droits réservés.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="socail_coppyright text-sm-right m-t-2 text-xs-center wow zoomIn">
                        <a href="#!"><i class="fa fa-facebook"></i></a>
                        <a href="https://instagram.com/1nterlix"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/interlix"><i class="fa fa-twitter"></i></a>
                        <a href="#!"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>